<h1>All Attendees</h1>

<table border = "1" cellpadding = "5" cellspacing = "5" width = "800" height = "80">
<tr>
	<th style = "background-color: grey">Attendee</th>
	<th style = "background-color: grey">Number of Events</th>
	<th style = "background-color: grey">Events Attended</th>
	
</tr>

<% @attendees.each do |attendee| %>
	<tr> 
		<td> <%= attendee.duid %></td>
		<td> <%= attendee.events.count %></td>
		<td> <%= link_to 'Show Details', attendee_path(attendee) %></td>
		
		
	</tr>
<% end %>
</table>