<!-- NOTE: HAVE REMOVED FILTERIFFIC LINES -->

  <table>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Hosts</th>
      <th>Attendance Tracking</th>
      <!-- <th>Host Details</th> -->
      <!-- <th>Number of Attendees</th>
      <th>Attendees</th>
      <th>Delete</th> -->

    </tr>
    <%# @events.each do |event| %>
    <% @events.each do |event| %>
      <tr> 
        <td id="titlecells"> <%= link_to event.title, event_path(event) %><%#= event.title %></td>
        <td> <%# event.created_at.strftime("%B %d, %Y") %></td>
        <td><%= render event.hosts %></td>
        <td><%= link_to 'Enable' %></td>
        <!-- <td> <%#= event.attendees.count %></td>
        <td><%# link_to 'Show Details', event_path(event) %></td>
        <td><%# link_to 'Delete', event_path(event), method: :delete %></td> -->
      </tr>
   <% end %> 
  </table>