// Place all the styles related to the Footer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.38857143;
    color: #333;
    background-color: #fff;
}

.footer {
    background-color: #001a57;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 12px;
   	margin-bottom: 0px;
   	position: fixed;
    bottom: 0;
    width: 100%;
}




.ack{
font-family: "Open Sans", sans-serif;
	postion: relative;
	padding-left: 200px;
}

.footer-name {
padding-left: 215px;
	postion: relative;
	padding-top: 20px;
	padding-right: 20px;
    color: #ffd960;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
}

.duke-footer-left {
    margin-top: 0px;
    text-align: center;
    float: left;
}




.duke-logo{
	padding-top: 20px;
	padding-left: 300px;
}

.duke-footer-right {
    margin-top: 20px;
    text-align: center;
    padding-left: 300px;
    padding-bottom: 10px;


}

.social-links{
	margin-top: 20px;
    text-align: center;
    padding-left: 300px;

}

.duke-contact{
	margin-top: 20px;
    text-align: center;
    padding-left: 300px;
 }