// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ban {
    font-family: "Open Sans", sans-serif;
    background-color: #012169;
    height: 100px;
    line-height: 100px;
    margin-bottom: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    top: 0;
    width: 100%;
    text-align: center;
}

.ban h1{
    font-family: "Roboto";
    color: white;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-left: 130px;
}

.logout{
    float: right;
    margin-right: 30px;
}