// Place all the styles related to the Hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Helvetica;
	width: 100%;
	color: white;
}

table, td, tr{
	border: 1px gray solid;
	border-collapse: collapse;
	background-color: white;
	padding: 5px;
	color: black;
}

table{
	margin: 0 auto;
}


th{
	padding: 10px;
	background-color: grey;

}

.count{
	text-align: center;
	width: 100px;
	border-left: 1px black solid;
}