<div id="push"></div>
<footer class = "footer navbar-fixed-bottom">
	<div class="container">
		<nav>
			<ul>
				<li><%= link_to "Contact Us", new_contact_path %></li>
				<li><%= link_to "Privacy Policy", new_contact_path %></li>
				<li><%= link_to "Terms of Use", new_contact_path %></li>
				<li><%= link_to "Duke Code+", new_contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>