<head> 
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
</head>


<div class="ban">

		<h1>All Events For <%= current_user.netid %> &nbsp; &nbsp;&nbsp;&nbsp; <%= link_to 'Logout', logout_path, class: "logout" %>
   		 <% puts current_user %>
  		</h1>

</div>